# Database
DATABASE_URL="postgresql://user:password@host:5432/snapturely_admin"

# JWT
JWT_SECRET=""
JWT_REFRESH_SECRET=""

# App
NEXT_PUBLIC_APP_URL="http://localhost:3002"

# Admin invite-only access
ADMIN_INVITE_SECRET=""
